<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634960354592-lmp799m02h73k3n1o97rj1ug4vplcste.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634960354592-lmp799m02h73k3n1o97rj1ug4vplcste</string>
	<key>API_KEY</key>
	<string>AIzaSyBuL1T_x68LCZDax29ma6EGxhUJyuvUeWU</string>
	<key>GCM_SENDER_ID</key>
	<string>634960354592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>projectflutter-6fa48</string>
	<key>STORAGE_BUCKET</key>
	<string>projectflutter-6fa48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634960354592:ios:b66b54b8134cca62784b45</string>
	<key>DATABASE_URL</key>
	<string>https://projectflutter-6fa48-default-rtdb.firebaseio.com</string>
</dict>
</plist>